
<!-- <div text-angular ng-model="htmlVariable" ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-default" ta-toolbar-button-active-class="active"></div>


<br><br><br>
<div style="height:550px;width:500px;margin:auto;background-color:red;">
  <div text-angular ng-model="htmlVariable2"></div>
</div>
<br>
{{htmlVariable2}} -->
<br><br><br>

<!-- <div text-angular-toolbar class="toolbar" name="toolbar" ta-toolbar="[['h1', 'h2', 'p', 'pre', 'quote', 'bold', 'italics', 'underline', 'ul', 'ol', 'justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent', 'insertImage']]"></div>
 -->
<!-- <div style="overflow: auto; width: 100%; height: 100%; max-width: 700px; max-height: 750px; background-color: #FFFFFF;">
    <div text-angular ta-target-toolbars="toolbar" ng-model="htmlContent"></div>
</div> -->

<div class = "">
  <div class = "dnd-container" style="height:550px;width:500px;top:200px;margin:auto;background-color:red;" >

    <div class = "draggable handle" style = "position: absolute;background-color:yellow;"
         ng-style = "{'line-height': main.rect.height}"
         ng-click = "click(!$dragged && !$resized && !$rotated, $dropmodel)"

         dnd-draggable = "true"
         dnd-draggable-opts = "{layer: 'layer1', useAsPoint: true }"
         dnd-on-dragstart = "main.dragstart($dropmodel, $dragmodel)"
         dnd-on-drag = "main.drag($dropmodel, $dragmodel)"
         dnd-on-dragend = "main.dragend($dropmodel, $dragmodel)"

         dnd-rotatable = "true"
         dnd-on-rotatestart = "main.dragstart()"
         dnd-on-rotate = "main.drag()"
         dnd-on-rotateend = "main.dragend()"

         dnd-resizable = "true"
         dnd-on-resizestart = "main.dragstart()"
         dnd-on-resize = "main.drag()"
         dnd-on-resizeend = "main.dragend()"
         dnd-resizable-opts = "{ handles: 'n, e, s, w'}"

         dnd-containment = "'.dnd-container'"

         dnd-rect = "main.rect"
         dnd-fittext = "{width:main.rect.width, height:main.rect.height}"
         dnd-model = "main.dragmodel">
         drag
         <!-- <div style="overflow: auto; width: 100%; height: 100%; max-width: 700px; max-height: 750px; background-color: #FFFFFF;"> -->
           <!--  <div text-angular ta-target-toolbars="toolbar" ta-options="{ta-resizer: 'false'}" ng-model="htmlContent">
              Testing the application for editor css
            </div> -->
         <!-- </div> -->
        <!-- <div>
          <div text-angular ng-model="htmlVariable2"></div>
        </div> -->

    </div>

    <br><br>
    <div  summernote airMode ng-model="text_1"  ></div>

  </div>
</div>

<br><br><br><br>
<div></div>


<br><br><br><br><br><br><br>

<summernote airMode ng-model="text_1">
</summernote>
<br><br><br><br><br><br><br>
